{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}
<div class="container-fluid" style="margin-top:10%"></div>
<div class=" text-center" style="margin-left: 5%">
  {% if posts %}
  <h2 class="text-center"> Found {{posts|length}} projects with the search term "{{message}}"</h2>
  {% else %}
  <h2> Found 0 projects for the search term "{{message}}"</h2>
  {% endif %}
</div>


{% if posts %}
<div class="text-center">

  <hr>
  <div class="container heade3ears">
  </div>
  <div class="container-fluid">
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top img-responsive" src="{{post.photo.url}}" alt="Card image cap" responsive>
          <div class="card-body">
            <a href="/site/{{post.id}}" style="color:black;text-decoration:none;">
              <h5 class="card-title" style="line-height:28px;">{{post.title}}</h5>
            </a>
            <p class="card-text"><span class="date">{{post.date}}</span></p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {%endif %}

  </div>
</div>


{% endblock %}